/* Variables */
$dark-grey: #2e2e2e;
$darker-grey: #151515;
$off-white: #f2f2f2;
$white: #fff;
$red-highlight: #b20130;
$light-grey: #93999f;
$lime-green: #9ff781;

/* Animations */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.FadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: $dark-grey;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-weight: 700;
    font-size: 4em;
}

p {
    margin: 0;
}

#SocialHeader {
    position: fixed;
    width: 100%;
    background-color: $white;
    font-size: 25px;
    padding: 10px;
    text-align: right;
    z-index: 1;

    svg {
        padding: 0 15px;
    }

    a {
        color: $dark-grey;
        transition: color;
        text-decoration: none;
    }

    a:hover {
        color: $red-highlight;
    }
}

#IconContainer {
    padding: 0 50px;
}

#HomeSection {
    height: 100vh;
    display: flex;

    h1 {
        margin: auto 10px;
        width: 100%; 
    }
}

.Highlighter {
    color: $red-highlight;
}

.TxtType {
    border-right: 4px solid $light-grey;
}

#AboutSection {
    display: flex;
}

.Section {
    padding: 100px;
    display: flex;
    font-weight: 300;
    flex-direction: column;

    .InnerContent {
        margin-bottom: 0;
    }
}

#SectionRight {
    background-color: $darker-grey;
    color: $off-white;

    p {
        color: $light-grey
    }
}

#ContactSection {
    background-color: $dark-grey;
    color: $white;
    font-size: 40px;

    p {
        padding: 100px;   
    }

    a {
        color: $lime-green;
    }
}

#Footer {
    font-size: 15px;
    text-align: center;
    padding: 10px;

    a {
        color: $dark-grey;
    }
}

/* Responsive font sizes */
@media only screen and (max-width: 1042px) {
    h1 {
        font-size: 3.5em;
    }
}

@media only  screen and (min-width: 841px) {
    .Section {
        width: 50%;
    }
}

@media only screen and (max-width: 840px) {
    h1 {
        font-size: 2.5em;
    }

    #HomeSection {
        height: 85vh;
    }

    #SocialHeader,
    #HomeSection h1 {
        text-align: center;
    }

    #AboutSection {
        background-color: $darker-grey;
        color: $off-white;
        p {
            color: $light-grey;
            font-size: 15px;
            text-align: left;
        }
    }

    #AboutSection,
    .Section {
        display: block;
        text-align: center;
    }

    .Section {
        padding: 100px 50px;
    }

    #SectionRight {
        padding-top: 0;
    }
}

@media only screen and (max-width: 700px) {
    #ContactSection > p {
        font-size: 0.8em;
        text-align: center;
        padding: 50px;
    }
}

@media only screen and (max-width: 608px) {
    h1 {
        font-size: 2em;
    }
}

@media only screen and (max-width: 570px) {
    #ContactSection > p {
        font-size: 0.6em;
    }

    .Section {
        padding: 50px;
    }
}

@media only screen and (max-width: 490px) {
    h1 {
        font-size: 1.5em;
    }
}
